<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.megaphone.cordova.calendar" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CalendarIntent</name>
    <author>Elliot Stokes</author>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="CalendarIntent" src="www/calendarIntent.js">
        <clobbers target="cordova.plugins.calendarIntent" />
    </js-module>

    <platform name="android">
       <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CalendarIntent">
           <param name="android-package" value="com.megaphone.cordova.calendar.CalendarIntent"/>
        </feature>
      </config-file>

        <source-file src="src/android/CalendarIntent.java" target-dir="src/com/megaphone/cordova/calendar"/>
    </platform>
</plugin>
